// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field,
.inner-div {
	display: flex;
	justify-content: center;
}

.inner-div {
	flex-direction: column;
	// border: 1px solid black;
	border-radius: 5px;
	padding: 10px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 5px);
	margin-top: 25px;
}

.submit {
	margin-top: 10px;
	outline: none;
	padding: 5px 0;
	font-size: 18px;
	background-color: #16a058;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

h2 {color: forestgreen;}

.text {
	padding: 3px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	margin: 10px 0;
	font-size: 18px;
}